@model CRM.Employees

<script src="~/Scripts/validator.min.js"></script>

<div class="popup-box" id="popup-box-2">
    <div class="close">X</div>
    <div class="top">
        <h2>Добавление Сотрудника</h2>
    </div>

    <form data-toggle="validator" role="form" action="/Admin/SaveNewEmployee" id="SaveNewEmployeeForm" method="post" class="form-horizontal">
        <div class="form-group">

            <label class="control-label col-sm-4">Имя:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="FIO" name="FIO">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Должность:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Post" name="Post">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Адрес:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Address" name="Address">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Дата рождения:</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" id="Date_Birth" name="Date_Birth" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Дата приема:</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" id="Date_Admission" name="Date_Admission" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Логин:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Login" name="Login" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Пароль:</label>
            <div class="col-sm-5">
                <input type="text" data-minlength="6" class="form-control" id="Password" name="Password" data-error="Minimum of 6 characters" required>
                <span class="help-block with-errors"></span>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-4">Роль:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Role" name="Role">
            </div>
        </div>
        <div class="form-group">
                <div class="col-sm-5 col-sm-offset-3">
                    <input type="submit" id="saveEmployeeButton" value="Сохранить" />
                </div>
        </div>
    </form>
   
</div>
