@model CRM.Clients
@{
    ViewBag.Title = "_PopUpPartial";
}

<script src="~/Scripts/validator.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        
        var check_name = true, check_unn = true;

        $("#Title").change(function () {
            
            $.ajax(
                {
                    url: "/Admin/CheckClientName",
                    data: { name: $("#Title").val() },
                    type: 'POST',
                    success: function (data) {
                        if (data) {
                            $('#Title').next().hide().text("Название занято").css("color", "red").fadeIn(400);
                            $('#saveClientButton').prop('disabled', true);
                            check_name = false;
                        }
                        else {
                            $('#Title').next().hide().text("Название свабодно").css("color", "green").fadeIn(400);
                            $('#saveClientButton').prop('disabled', false);
                            check_name = true;                            
                        }
                        AddRemoveDisOnBut();
                    }
                });
        });


        $("#UNN_UNP").change(function () {

            $.ajax(
                {
                    url: "/Admin/CheckClientUNN",
                    data: { name: $("#UNN_UNP").val() },
                    type: 'POST',
                    success: function (data) {
                        if (data) {
                            $('#UNN_UNP').next().hide().text("УНН\УНП занято").css("color", "red").fadeIn(400);
                            $('#saveClientButton').prop('disabled', true);
                            check_unn = false;                            
                        }
                        else {
                            $('#UNN_UNP').next().hide().text("УНН\УНП свабодно").css("color", "green").fadeIn(400);
                            $('#saveClientButton').prop('disabled', false);
                            check_unn = true;
                        }
                        AddRemoveDisOnBut();
                    }
                });

        });

        function AddRemoveDisOnBut() {
            if (check_name && check_unn)
                $('#saveClientButton').removeClass('disabled_button').fadeIn(400);
            else
                $('#saveClientButton').addClass('disabled_button').fadeIn(400);
        }
            
    });
</script>

<div class="popup-box" id="popup-box-1">
    <div class="close">X</div>
    <div class="top">
        <h2>Добавление Организации-Клиента</h2>
    </div>


    <form data-toggle="validator" role="form" action="/Admin/SaveNewClient" id="SaveNewClientForm" method="post" class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-sm-4">Название:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Title" name="Title" required><span id="NameError"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Дата регистрации:</label>
            <div class="col-sm-5">
                <input type="date" class="form-control" id="Registration_Date" name="Registration_Date" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Адрес:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Address" name="Address">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Почтовый Адрес:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Post_Address" name="Post_Address">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">УНН\УНП:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="UNN_UNP" name="UNN_UNP" required><span></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4">Вид деятельности:</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" id="Kind_Activity" name="Kind_Activity">
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-5 col-sm-offset-3">
                <input type="submit" id="saveClientButton" value="Сохранить" />
            </div>
        </div>

    </form>
</div>

